<p id="notice"><%= notice %></p>

<h1>Cars</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <h1><%= car.make %></h1>
      <h2><%= car.modelname %></h2>
      <h3><%= car.color %></h3>
      <h5><%= link_to 'Show', car %></h5>
      <h5><%= link_to 'Edit', edit_car_path(car) %></h5>
      <h5><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></h5>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Car', new_car_path %>
